* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

.vvv {
    max-height: 100vh;
    overflow: hidden;
    background-color: black;
}

#background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: .75;
    animation: Anim 4s infinite;
}

@keyframes Anim{
    0% {
        filter: blur(10px);
    }
    33.33% {
        filter: blur(0px);
    }
    66.66% {
        filter: blur(0px);
    }
    100% {
        filter: blur(10px);
    }
}